* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add-new-movie-container {
    font-family: "Arial", sans-serif;
    background-color: #c1cdc3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.add-new-movie-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7f9783;
    width: 100%;
    max-width: 25em;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.5);
}

.add-movie-title {
    font-size: 2.5em;
    color: #000000;
    margin-bottom: 1em;
}

.add-new-movie-box input {
    margin: 0.3em 0;
    width: 100%;
    padding: 0.6em;
    border: 0.1em solid #908989;
    border-radius: 2em;
    font-size: 1em;
}

.add-new-movie-button-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
}

.add-new-movie-button-div button {
    padding: 0.7em;
    color: white;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    margin: 0.5em 0;
}

.error-add {
    color: red;
    text-align: center;
    margin-top: 1em;
}

.success-add {
    color: #016101;
    text-align: center;
    margin-top: 1em;
}

.add-new-movie-button {
    background-color: #188827;
}

.add-new-movie-button:hover {
    background-color: #339540;
}

input[type="file"] {
    cursor: pointer;
}

.add-movie-form label {
    font-size: 1em;
    color: #000000;
    margin-bottom: 0.2em;
    font-weight: bolder;
}

.back-button-from-nm {
    position: absolute;
    bottom: 1em;
    left: 1em;
    padding: 0.8em 1em;
    background-color: #1b25de;
    color: white;
    border: none;
    border-radius: 2em;
    cursor: pointer;
}

.back-button-from-nm:hover {
    background-color: #0144ee;
}
