.change-pass-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.change-pass-modal-container {
    background: #c1cdc3;
    padding: 2em;
    border-radius: 2em;
    text-align: center;
    width: 20em;
    box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.5);
}

.change-pass-modal-button {
    padding: 0.8em 1em;
    color: white;
    border: none;
    border-radius: 2em;
    cursor: pointer;
}

.change-pass-modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.cancel-pass {
    background-color: #f43f3f;
    color: white;
}

.cancel-pass:hover {
    background-color: #ee6969;
}

.change-pass {
    background-color: #1b25de;
    color: white;
}

.change-pass:hover {
    background-color: #0144ee;
}

.change-pass-modal-container input {
    margin: 0.3em 0;
    width: 80%;
    padding: 0.6em;
    border: 0.1em solid #908989;
    border-radius: 2em;
    font-size: 1em;
}
