* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    font-family: "Arial", sans-serif;
    background-color: #c1cdc3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7f9783;
    width: 100%;
    max-width: 25em;
    padding: 2em;
    border-radius: 2em;
    box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.5);
}

.login-text {
    font-size: 2.5em;
    color: #161616;
    margin-bottom: 1em;
}

.login-box input {
    margin: 0.3em 0;
    width: 100%;
    padding: 0.6em;
    border: 0.1em solid #908989;
    border-radius: 2em;
    font-size: 1em;
}

.login-box label {
    font-weight: bold;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
}

.login-buttons button {
    padding: 0.7em;
    color: white;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    margin: 0.5em 0;
}

.login-button button {
    background-color: #188827;
}

.register-button button {
    background-color: #1b25de;
}

.register-button button:hover {
    background-color: #3c44de;
}

.login-button button:hover {
    background-color: #339540;
}

.error-login {
    color: red;
    text-align: center;
    margin-top: 1em;
}