.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: #c1cdc3;
    padding: 2em;
    border-radius: 2em;
    text-align: center;
    width: 20em;
    box-shadow: 0 0.2em 2em rgba(0, 0, 0, 0.5);
  }
  
  .modal-content h3 {
    margin-bottom: 1em;
  }
  
  .modal-content button {
    padding: 0.8em 1em;
    background-color: #1b25de;
    color: white;
    border: none;
    border-radius: 2em;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background-color: #0144ee;
  }
